* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

body {
  font-size: 1.6rem;

}

.table {
  border-collapse: collapse;
}

.table, .table-row, .table-cell {
  border: 1px solid #000;
}

.table-cell {
  padding: 0.5rem;
}

.caption {
  padding: 1rem;
  font-weight: 700;
}
